[user]
    name = Kirill Rebrov
    email = 7h3k1k4@gmail.com

[core]
    editor = vim
    autocrlf = input
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = main

[alias]
    st = status -sb
    df = diff
    co = checkout
    br = branch
    cm = commit -m
    lg = log --oneline --graph --decorate
    aa = add .

[color]
    ui = true
