[user]
    name = Kirill Rebrov
    email = 7h3k1k4@gmail.com
	signingkey = /Users/kika/.ssh/id_ed25519

[core]
    editor = vim
    autocrlf = input
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = main

[alias]
    ps = push origin main
    st = status -sb
    df = diff
    co = checkout
    br = branch
    cm = commit -m
    lg = log --oneline --graph --decorate
    aa = add .
	p = "!f() { git aa && git cm \"$1\" && git ps; }; f"

[color]
    ui = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
