#Trash_macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

#Swap+time_f
*.swp
*.swo
*~
.netrwhist

#log+WezTerm
wezterm/.wezterm.lua.bak
*.log

#Sec. files
.env*
secrets.*
*.local

#SSH
.ssh/
ssh/
config
*id_ed25519*
*id_rsa*
*.pem

